body {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='960' height='540' preserveAspectRatio='none' viewBox='0 0 960 540'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1560%26quot%3b)' fill='none'%3e%3cpath d='M441.25 613.22C522.22 609.22 556.82 485.83 731.1 467.79 905.37 449.75 926.89 235.59 1020.94 219.39' stroke='rgba(64%2c 140%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M233.46 559.83C380.86 498.3 394.27 53.61 605.94 40.74 817.62 27.87 881.1 152.89 978.43 154.14' stroke='rgba(64%2c 140%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M591.18 615.78C667.3 569.74 628.2 307.04 764.68 305.08 901.17 303.12 1017.64 447.96 1111.69 450.88' stroke='rgba(64%2c 140%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M47.26 591.37C136.66 584.81 199.22 410.19 356.4 409.71 513.58 409.23 510.97 477.21 665.54 477.21 820.11 477.21 895.58 410.1 974.68 409.71' stroke='rgba(64%2c 140%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3cpath d='M262.14 550.27C368.93 511.59 384.76 201.03 542.28 192.59 699.8 184.15 682.35 260.09 822.42 260.09 962.49 260.09 1030.52 193.06 1102.56 192.59' stroke='rgba(64%2c 140%2c 253%2c 1)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1560'%3e%3crect width='960' height='540' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-size: cover;

}

.blurred-neumorph {
    -webkit-border-radius: 50px;
    border-radius: 30px;
    background: #ffffff;
    -webkit-box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    box-shadow: 12px 12px 24px #d9d9d9, -12px -12px 24px #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.div-medio {
    margin: 7px 15px;
}